Repository SSoelvsten/wordrow, pull requests merged in 2022-12, with the labels that each got.

#52 Fix external url
  README.md
Labels: 📁 dict

#53 Improve layout, icon for and use of 'Skip/Next' button
  game/src/app.scss
  game/src/app.tsx
  game/src/game-screen/game.scss
  game/src/game-screen/game.tsx
Labels: ✨ enhancement, 📁 game

#57 Add full touch support and polish mouse hover effects
  game/src/app.tsx
  game/src/game-screen/end-screen.scss
  game/src/game-screen/end-screen.tsx
  game/src/game-screen/game.tsx
  game/src/game-screen/input-box.tsx
  game/src/game-screen/input.scss
  game/src/game-screen/input.tsx
  game/src/game-screen/word.scss
  game/src/menu/menu.scss
Labels: ✨ enhancement, 📁 game

#63 Allow one to see the solution on 'Fast Forward' button (closes #62)
  game/src/game-screen/game.tsx
Labels: ✨ enhancement, 📁 game

#64 Fix crash on language index out of bounds (closes #60)
  game/src/menu/menu.tsx
Labels: 🔥 bug, 📁 game

#75 remove some non-words
  dict/en-GB/en-GB.txt
Labels: 📁 dict, 🇬🇧 en-GB
